/* .weekly__forecast--wrapper {
    background-color: #29243e;
} */

.country__image--wrapper {
  width: 100%;
  height: 18rem;
  overflow-y: hidden;
  margin-bottom: 2rem;
}

.country__image--wrapper img {
  width: 100%;
  height: auto;
}

.weekly__forecast {
  display: grid;
  grid-template-columns: 70fr 30fr;
  align-items: center;
  gap: 1rem;
  /* background-color: #29243e; */
  margin-bottom: 1rem;
}

.weekly__forecast--child {
  display: grid;
  grid-template-columns: 30fr 70fr;
  align-items: center;
}

.weekly__icon--box {
  text-align: center;
}

.weekly__icon--box img {
  width: 100%;
}
