.hourly__forecast--wrapper {
    background-color: #29243e;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1fr;
}

.hourly__forecast {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hourly__forecast p:first-child {
    margin-bottom: 1rem;
}

.hourly__forecast p:last-child {
    margin-top: 2rem;
}